<!-- Navbar -->
<nav class="navbar navbar-solid-transition">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="icon-diamond"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Services<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <ul id="pages" class="dropdown-content">
      <li><a href="/colposcopy">Colposcopy</a></li>
      <li><a href="/c-section">C-Section</a></li>
      <li><a href="/cervix">Exicision of Cervix and Lesions</a></li>
      <li><a href="/curettage">Endocervical Curettage</a></li>
      <li><a href="/gynecoloic">Gynecoloic Cancer Screening</a></li>
      <li><a href="/gynecological">Gynecological Surgical Procedures</a></li>
      <li><a href="/hysterectomy">Hysterectomy and Hysteroscopy</a></li>
      <li><a href="/myomectomy">Myomectomy</a></li>
      <li><a href="/laproscopy">Laproscopy</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
        class="material-icons white-text">menu</i></a>
  </div>
</nav>

<!--SIDEBAR NAV-->
<ul id="slide-out" class="sidenav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal active">Services</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/colposcopy">Colposcopy</a></li>
            <li><a href="/c-section">C-Section</a></li>
            <li><a href="/cervix">Exicision of Cervix and Lesions</a></li>
            <li><a href="/curettage">Endocervical Curettage</a></li>
            <li><a href="/gynecoloic">Gynecoloic Cancer Screening</a></li>
            <li><a href="/gynecological">Gynecological Surgical Procedures</a></li>
            <li><a href="/hysterectomy">Hysterectomy and Hysteroscopy</a></li>
            <li><a href="/myomectomy">Myomectomy</a></li>
            <li><a href="/laproscopy">Laproscopy</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="waves-effect waves-teal" href="#About">About</a></li>
  <li><a class="waves-effect waves-teal" href="#Contact">Contact</a></li>
</ul>

<div class="carousel carousel-slider" data-indicators="true">
  <div class="section header">
    <div class="background">
      <a class="carousel-item" href="#one!"><img class="responsiv-img" src="/images/clinic.png"></a>
      <a class="carousel-item" href="#two!"><img class="responsiv-img" src="/images/clinic1.png"></a>
    </div>
    <div class="header-wrapper row valign-wrapper">
      <div class="col s12 center">
        <h1>Dr. Wilson Morales</h1>
        <span class="tagline nameTitle">F.A.C.O.G</span>
        <span class="tagline nameTitle">Obstetrics - Gynecology</span>
        <span class="tagline nameTitle bold">16660 Paramount Blvd. Suite #309 Parmount, CA 90723-5459</span>
        <button class="read-more"><i class="icon-caret-down"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="section black valign-wrapper">
  <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
    <div class="col s1"></div>
    <div class="col s3 fade-in-out">
      <img src="/images/wilsonstanding.jpg" class="wilson responsive-img fade-in-out" alt="Dr.Morales">
    </div>
    <div class="col m7 pull-s1">
      <div class="row">
        <div class="col s12 center">
          <h2 class="section-title fade-in-out">About Dr. Morales</h2>
        </div>
      </div>
      <div class="col s12  fade-in-out">
        <hr class="halfLine fade-in-out">
        <p class="caption">For more than 34 years, Dr. Wilson Morales has provided obstetrical and
          gynecological needs for women throughout Southern California.
          Since establishing his private practice, Dr. Morales has helped thousands of women in need of prenatal care,
          gynecological surgeries,
          pap smears, C-sections, and many other services. He is a board certified Obstetrician / Gynecologist, and
          has printed numerous research publications.</p>
        <p class="caption">Dr. Morales earned his Doctor of Medicine degree from the Far Eastern University in
          the Philippines, interned at USAF Hospital Clark
          then moved to Chicago, Illinois, completed his Ob-Gyn residency at the Cook County Hospital/ Chicago Medical
          School in 1979. He became a
          assistant clinical professor for years prior to coming to Southern California to start his Ob-Gyn private
          practice at the Santa Monica area. He currently operates in the Downey and Long Beach area.</p>
      </div>
    </div>
  </div>
</div>

<div class="section light full-height">
  <div class="row">
    <div class="col s12 m10 offset-m1 center">
      <h1 class="serviceTitle">Our Services</h1>
      <div class="row masonry-grid">
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="https://www.acog.org/Patients/FAQs/Fertility-Awareness-Based-Methods-of-Family-Planning"><img
                  class="serviceImage" src="/images/ImageService1.jpeg"></a>
              <h1 class="card-title center cardText">Colposcopy</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/c-section"><img class="serviceImage" src="/images/ImageService6.jpeg"></a>
              <h1 class="card-title center cardText">C-Section</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/cervix"><img class="serviceImage" src="/images/ImageService2.jpeg"></a>
              <h1 class="card-title center cardText1">Exicision of Cervix and Lesions</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/curettage"><img class="serviceImage" src="/images/ImageService3.jpeg"></a>
              <h1 class="card-title center cardText1">Endocervical Curettage</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/gynecoloic"><img class="serviceImage" src="/images/ImageService5.jpeg"></a>
              <h1 class="card-title center cardText2">Gynecoloic Cancer Screening</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/gynecological"><img class="serviceImage" src="/images/ImageService4.jpeg"></a>
              <h1 class="card-title center cardText2">Gynecological Surgical Procedures</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/hysterectomy"><img class="serviceImage" src="/images/ImageService7.jpeg"></a>
              <h1 class="card-title center cardText2">Hysterectomy and Hysteroscopy</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/myomectomy"><img class="serviceImage" src="/images/ImageService8.jpeg"></a>
              <h1 class="card-title center cardText">Myomectomy</h1>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card fade-in-out up-in-out" data-duration="0">
            <div class="card-image">
              <a href="/laproscopy"><img class="serviceImage" src="/images/ImageService9.jpeg"></a>
              <h1 class="card-title center cardText">Laproscopy</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section black full-height">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 center">
        <h1>Insurance</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 wrapper">
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
        <div class="block center fade-in-out">
          <h2 class="insuranceText">Dummy Text</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pricing Tables -->
<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="col m3">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
        </div>
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out left-transform-origin right-align">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
        </div>
      </div>
      <div class="col m6">
        <!--Content-->
      </div>
      <div class="col m3">
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
        </div>
        <div class="perspective-wrapper">
          <div class="feature rotate-y-in-out fade-in-out right-transform-origin">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section full-height">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col m3">
        <!--Content-->
      </div>
      <div class="col m8 offset-m1">
        <div class="staggered-transition-wrapper">
          <div class="feature left-in-out fade-in-out">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
          <div class="feature left-in-out fade-in-out">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
          <div class="feature left-in-out fade-in-out">
            <h3>Something</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio atque animi culpa, cumque quae ipsam
            similique repellat, sit blanditiis, molestiae commodi assumenda hic possimus ab mollitia veniam corporis
            iure?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section light full-height">
  <div class="container">
    <div class="row valign-wrapper">
      <!--Map-->
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="section black valign-wrapper">
    <div class="row">
      <div class="col s8">
        <div class="mapWrapper centerAlign">
            <iframe class="map centerAlign" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzXJNuyoz3YAR8BRlYvNkhvU&key=AIzaSyDLyAKpn0Y7qrFRZvbpB6E9QcdT9dcC-u8" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s3 pull-s1">
        <form>
          <div class="row">
            <div class="col s12">
              <h2 class="contact-title">Contact Us</h2>
            </div>
            <div class="input-field col s6">
              <input id="first_name" type="text">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
              <a class="waves-effect waves-light btn-large">Button</a>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <img class="materialize-logo" src="images/materialize-teal.png" alt="">
        <p>Made with love by Materialize.</p>
      </div>
      <div class="col s6 m3">
        <h5>About</h5>
        <ul>
          <li><a href="#!">Blog</a></li>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Docs</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Connect</h5>
        <ul>
          <li><a href="#!">Community</a></li>
          <li><a href="#!">Subscribe</a></li>
          <li><a href="#!">Email</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Contact</h5>
        <ul>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/js/materialize.min.js"></script>
<!-- Google Maps API -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLyAKpn0Y7qrFRZvbpB6E9QcdT9dcC-u8&callback=initMap">
</script>

<!-- External libraries -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>

<!-- Initialization script -->
<script src="/js/startup.js"></script>
<script src="/js/init.js"></script>
<script src="/js/page.js"></script>