.wrapper-first-image {
    margin: 0.05em;
    background-image: url('/images/medical-background.jpg');
}

.size-stick {
    height: 100vh !important;
}

.wrapper-services {
    margin: 0.05em;
    background: white;
}

.full-size {
    height: 100%;
    width: 100%;
    object-position: center ;
}

.testimonial-wrap {
    margin: 0.1em;
    background: rgb(223, 210, 210);
}

.hospital-text {
    text-align: center;
    padding: 0.5em;
    color: white !important;
    font-size: 60px !important;
}

.hospital-text1 {
    text-align: center;
    padding: 0.5em;
    font-size: 40px !important;
}

.hospital-text2 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 40px !important;
}

.bot-shadow {
    border-bottom: 1px solid #202020;
    box-shadow: 0 4px 2px -2px gray;
}

.top-shadow {
    border: 1px solid #202020;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.insurance-picture {
    height: 100%;
    width: 100%;
}

.faq-image {
    margin: 0.05em;
    background-image: url("/images/faq-image.jpg");
    background-size: cover !important;
}

.map-clinic {
    border: 5px solid navy !important;
    display: block;
    margin: auto;
}

.second-map {
    height: 45vh;
    width: 100%;
}

.test-star {
    transform: scale(0.7) !important;
}

.service-image {
    height: 25vh;
    width: 100%;
}

.wrapper-first-image-none {
    margin: 0.05em;
    background: rgb(21, 174, 216);
}

.nav-title {
    padding: 0.3em !important;
    color: white !important;
}